@model VACTShop.Models.KHACHHANG
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="@Url.Action("Index","Home")">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Contact</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
@using (Html.BeginForm())
{
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Liên hệ chúng tôi!!!</span></h2>
        </div>

        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                   
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" placeholder="Your Name"
                                       required="required" data-validation-required-message="" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" placeholder="Your Email"
                                       required="required" data-validation-required-message="" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" rows="6" name="LyDo" placeholder="Message"
                                          required="required"
                                          data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                                    Gửi tin nhắn
                                </button>
                            </div>
                        </form>
                    
                    </div>
            </div>
            <div class="col-lg-5 mb-5">
                <h5 class="font-weight-semi-bold mb-3">Cách Thức Liên Lạc</h5>
                <p>Ai cũng có quyền được đẹp và bạn cũng v, Vì vậy hãy đứng lên và đặt hàng ngay hôm nay để có được những trải nghiệm đầy mới mẻ với những gì bạn đang có.</p>
                <div class="d-flex flex-column mb-3">
                    <h5 class="font-weight-semi-bold mb-3">Cửa Hàng 1</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>475A Điện Biên Phủ, Phường 25, Bình Thạnh, Thành phố Hồ Chí Minh</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>VACT.Shop@hutech.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
                </div>
                <div class="col-md-5 col-sm-12 map contact-right">
                    <div class="contact-top1" style="height:100%">
                        <h5>Trụ Sở Chính</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31355.518766456076!2d106.67132159884723!3d10.777585201569977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3a01db8d71%3A0xd9001ceeb9c61bec!2sShop%20Th%E1%BB%9Di%20Trang%20128!5e0!3m2!1svi!2s!4v1627321875384!5m2!1svi!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <!--//contact map grid ends here-->
                <div class="clearfix"></div>
                <div class="right">
                    <h5 class="font-weight-semi-bold mb-3">Mạng Xã Hội</h5>
                    <a href="https://www.facebook.com/buivinhk1/"><img src="~/Asset/img/fb.png" width="100"></a>
                    <a href="https://twitter.com/buivinhk1"><img src="~/Asset/img/twitter.png" width="100"></a>
                    <a href="https://www.instagram.com/zihn_duck491/"><img src="~/Asset/img/instagram.png" width="50"></a>
                    <div class="clear"></div>
                    <div style="margin-top:25px;color:aliceblue" class="btn btn-primary py-2 px-4" id="sendMessageButton">
                        <a class="submit" href="@Url.Action("Index", "Home")" style="color:white">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <!-- Contact End -->
